<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filePath" value="C:\Users\Steve\source\repos\TournamentTracker"/>
    <add key="greaterWins" value="1"/>
    <add key="senderEmail" value="stevenmaes18@gmail.com"/>
    <add key="senderDisplayName" value="Steven Maes"/>
  </appSettings>
  <connectionStrings>
    <add name="Tournaments" connectionString="Server=.\;Database=Tournaments;Trusted_Connection=True;" providerName="System.data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="127.0.0.1" userName="smaes" password="Password" port="25" enableSsl="false"/>
      </smtp>
    </mailSettings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>

<!--DESKTOP-TEDGI41\Steve-->
<!--C:\Users\Steve\Desktop\TournamentTracker-->