<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filePath" value="C:\Users\Steve\source\repos\TournamentTracker"/>
    <add key="winnerDetermination" value="greater"/>
  </appSettings>
  <connectionStrings>
    <add name="Tournaments" connectionString="Server=.\;Database=Tournaments;Trusted_Connection=True;" providerName="System.data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>

<!--DESKTOP-TEDGI41\Steve-->
<!--C:\Users\Steve\Desktop\TournamentTracker-->